.discoverkix-gallery-container {
    // display: grid;
    // // grid-auto-flow: row dense;
    // grid-template-columns: 620px 500px 500px;
    // // grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    // grid-gap: 1em;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-colummn-count: 4;
    -moz-column-gap: 0px;
    column-count: 0;
    column-gap: 15px;
    margin-top: 12px;
    padding: 12px;
}

.kix-index-item-image-container {
    // position: relative;
    // padding: 18px;
    // height: auto;
    // max-width: 550px;
    // max-height: 450px;
}

.kix-index-item-image-container:hover { transform: scale(1) }

.kix-index-item-image-container:hover .kix-index-image-title { opacity: 1 }

.kix-index-item {
    // width: 100%;
    // height: auto;
    // line-height: 0;
    padding: 16px;
}

.kix-index-item-image {
    width: 100%;
    height: auto;
    // padding: 12px;
    // max-width: 420px;
    // max-height: 420px;
    box-shadow: 9px 9px 26px 0px rgba(0,0,0,0.3);
    border-radius: 23px;
}

.kix-index-image-container {
    // height: auto;
    // width: 100%
    transform: scale(1);
}

.kix-index-image-title {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(102, 247, 235, 0.4);
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;   
    transition: opacity 0.8s;
    border-radius: 23px; 
}

.kix-index-image-and-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    // position: absolute;
    // height: 100%;
    // width: 100%;
    // background: rgba(102, 247, 235, 0.4);
    // color: white;
    // font-size: 24px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // opacity: 0;   
    // transition: opacity 0.8s;
    // border-radius: 23px; 
}

// .kix-index-image-photographer {
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     background: rgba(102, 247, 235, 0.4);
//     color: white;
//     font-size: 36px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     opacity: 0;   
//     transition: opacity 0.8s;
//     border-radius: 23px;
// }

// .kix-index-image-title:hover { transform: scale(1.03) }
// .kix-index-image-title:hover { opacity: 1 }

// .kix-index-image-photographer:hover { opacity: 1 }
// .kix-index-image-photographer:hover { opacity: 1 }

// .kix-index-image-user {
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     background: rgba(102, 247, 235, 0.4);
//     color: white;
//     font-size: 36px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     opacity: 0;   
//     transition: opacity 0.8s;
// }


