.drop-down-content {
    position: absolute;
    top: 30px;
    left: -50px;
    z-index: 50;    
}

.drop-down-btn-stuff {
    position: relative;
    top: 8px;
}

.hide {
    visibility: hidden;
}

.drop-down-content p {
    margin: 5px 0;
    padding: 5px; 
}

.drop-down-content .current-user {   //only select username if it's below/contained in drop-down-content tag
    padding: 3px;
    color: #2C2F40;
}

.drop-down-content .logged-in-title {
    margin-top: 12px;
    padding: 2px;
    color: #2C2F40;
}

.currentUser-banner {
    background-color: #2C2F40;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    // border: solid 2px;
    // border-color: #CEECEF;
    // border-radius: 26px;
    font-size: 18px;
    margin-left: 12px;
}

.loggedin-logout-btn {
    background-color: #2C2F40;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    border: solid 2px;
    border-color: #CEECEF;
    border-radius: 26px;
    font-size: 18px;
    margin-left: 12px;
    opacity: 1;
    transition: 0.6s;
}

.loggedin-logout-btn:hover { opacity: 0.6 }

.upload-photo-nav-btn {
    background-color: #2C2F40;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    border: solid 2px;
    border-color: #CEECEF;
    border-radius: 26px;
    font-size: 18px;
    margin-left: 12px;
    opacity: 1;
    transition: 0.6s;
}

.upload-photo-nav-btn:hover { opacity: 0.6 }