.drop-down-content { 
    position: absolute;
    top: 23px;
    left: -132px;
    z-index: 50;
    border: solid;
    border: solid;
    background: #2C2F40;  
    border: solid #2C2F40;
    border-radius: 22px;  
}

.drop-down {
//    position: relative;
//    display: inline-block; 
}

.drop-down-btn-stuff {
    position: relative;
    top: 8px;
}

.hide {
    // visibility: hidden;
    display: none;
}

.drop-down-content p {
    margin: 5px 0;
    padding: 5px; 
}

// current-user

// .drop-down-content .dropdown-profile-btn {   //only select username if it's below/contained in drop-down-content tag
//     padding: 3px;
//     color: #CEECEF;
//     text-align: center;
// }

// .drop-down-content .logged-in-title {
//     margin-top: 12px;
//     padding: 2px;
//     color: #CEECEF;
// }

.currentUser-banner {
    background-color: #2C2F40;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    // border: solid 2px;
    // border-color: #CEECEF;
    // border-radius: 26px;
    font-size: 18px;
    margin-left: 12px;
}

.loggedin-logout-btn {
    background-color: #2C2F40;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    // border: solid 2px;
    // border-color: #CEECEF;
    // border-radius: 26px;
    font-size: 18px;
    margin-left: 12px;
    opacity: 1;
    transition: 0.6s;
}

.profile-page-btn {
    background-color: #2C2F40;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    // border: solid 2px;
    // border-color: #CEECEF;
    // border-radius: 26px;
    font-size: 18px;
    margin-left: 12px;
    opacity: 1;
    transition: 0.6s;
}

.loggedin-logout-btn:hover { opacity: 0.6; text-decoration: underline }
.profile-page-btn:hover { opacity: 0.6; text-decoration: underline }

.upload-photo-nav-btn {
    background-color: #2C2F40;
    // text-align: center;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    // border: solid 2px;
    // border-color: #CEECEF;
    // border-radius: 26px;
    font-size: 18px;
    margin-left: 12px;
    opacity: 1;
    transition: 0.6s;
}

.upload-photo-nav-btn:hover { opacity: 0.6; text-decoration: underline }

.discover-kix-nav-btn {
    background-color: #2C2F40;
    // text-align: center;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    // border: solid 2px;
    // border-color: #CEECEF;
    // border-radius: 26px;
    font-size: 18px;
    margin-left: 12px;
    opacity: 1;
    transition: 0.6s;
}

.discover-kix-nav-btn:hover { opacity: 0.6; text-decoration: underline }

.dropdown-profile-btn {
    background-color: #2C2F40;
    // text-align: center;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    // border: solid 2px;
    // border-color: #CEECEF;
    // border-radius: 26px;
    font-size: 18px;
    margin-left: 12px;
    opacity: 1;
    transition: 0.6s;
}

.dropdown-profile-btn:hover { opacity: 0.6; text-decoration: underline }