.home-logo {
    position: absolute;
    top: 25%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    // border: 10px solid greenyellow;
    // margin: auto;
    // width: 50%;
    // padding: 13px;
}

.home-logo-kick {
    position: absolute;
    top: 35%;
    left: 62%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    // border: 10px solid greenyellow;
    // margin: auto;
    // width: 50%;
    // padding: 13px;
}

.home-demo-btn {
    position: absolute;
    top: 30%;
    left: 27%;
    background-color: #2C2F40;
    padding: 9px;
    text-align: center;
    color: #CEECEF;
    border: solid 2px;
    border-color: #CEECEF;
    border-radius: 26px;
    font-size: 15px;
    margin-left: 12px;
}