.loginform {
    position: fixed;
    top: 75px;
    left: 38%;
    // transform: translate(-50%,-50%);
    width: 400px;
    padding: 30px;
    background-color: #CEECEF;
    margin-top: 18px; 
}

.loginform-header {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}

.loginform-label {

}

.loginform-input {
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.loginform-submit {
    width: 100%;
    background-color: #2C2F40;
    padding: 12px;
    text-align: center;
    color: #CEECEF;
    border: solid 3px;
    border-color: #CEECEF;
    border-radius: 12px;
}

// .loginform-submit:hover {
//     // cursor: pointer;
// }

// box-shadow: 0 5px 0 darkred;

// .loginform-home-btn {
//     width: 100%;
//     margin-top: 10px;
//     background-color: #2C2F40;
//     padding: 2px 6px 2px 6px;
//     // text-decoration: none;
//     text-align: center;
//     color: #CEECEF;
//     // border: solid 3px;
//     // border-color: #CEECEF;
//     border-radius: 12px;
// }

.loginform-home-btn {
    width: 100%;
    background-color: #2C2F40;
    padding: 12px;
    text-align: center;
    color: #CEECEF;
    border: solid 3px;
    border-color: #CEECEF;
    border-radius: 12px;
}

.login-home-img {
    opacity: .4;
    background-image: image-url('homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 95vh;
}

.loginform-errors {
    font-size: 16px;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    color: red;    
}