.nav-bar{
    display: flex;
    background-color: lightseagreen;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

// .session-btns{

// }