.sessionform {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 30px;
    background-color: whitesmoke; 
}

.sessionform-header {
    text-align: center;

}

.sessionform-label {

}

.sessionform-input {
    padding: 15px;
    width: 100%;

}

.sessionform-submit {

}
